---
title: Primates selection games
current: game
cssfiles: i-lifegame.css
jsfiles: i-lifegame.js
---
:javascript
  window.onload = function(){
    init("i-lifegame-canvas");
  }
%h1
  i-ライフゲーム
.section
  %h2
    javascriptでライフゲーム
  #i-lifegame-canvas
    &nbsp;
