---
title: Primates selection games
current: game
---
%h1
  Primates selection ゲーム作品

.section
  %h2
    ゲーム Primates selection
  .topic
    %p
      Primates selection は、同人サークルVestals Quintet 製作の同人ゲームです。
      Primates selection 世界観を基に、2Dアクションゲームとして第一作をリリース予定です。
      %br
      当ページでは、今後ゲームの開発状況をお知らせしていきます。
