---
title: Primates selection words
current: words
---
%h1
  用語集
- sitemap.resources.select {|item| item.data['doctype'] == 'word'}.each do |item|
  .section
    %h2
      = link_to item.data.title, item.url
    .topic
      %p
        = partial 'taglist', :locals => {:tagArray => item.data.tags, :linkPage => '/words/indexbytag.html'}
