---
title: Primates selection words
current: words
---
%h1
  用語集
.section
  - sitemap.where(:doctype.equal => "word").all.each do |item|
    .topic
      %p
        = link_to item.data.title, item.url
      %p
        = partial 'taglist', :locals => {:tagArray => item.data.tags, :linkPage => '/words/indexbytag.html'}
