---
title: Primates selection words タグ別一覧
current: words
---
.section
  %h1
    タグ別用語一覧
  :ruby
    tagArray = sitemapresources.select {|item| item.data['doctype'] == 'word'}.map do |item|
      item.data.tags
    end
    tagArray.flatten!.uniq!

  - tagArray.each do |tag|
    %h2{:id => tag}
      = tag
    .topic
      - sitemap.where(:doctype.equal => "word").where(:tags.include => tag).all.each do |item|
        %p
          = link_to item.data.title, item.url
