---
title: Primates selection Novels タグ別一覧
current: novel
---
.section
  %h1
    タグ別小説一覧
  :ruby
    tagArray = sitemap.where(:doctype.equal => "novel").all.map do |item|
      item.data.tags
    end
    tagArray.flatten!.uniq!

  - tagArray.each do |tag|
    %h2{:id => tag}
      = tag
    .topic
      - sitemap.where(:doctype.equal => "novel").where(:tags.include => tag).all.each do |item|
        %p
          = link_to item.data.title, item.url
          - if item.data.tags.find() {|itag| itag == "性的表現"} != nil then
            %span.mature_tag
              性的表現有
