---
title: Primates selection Novels
current: novel
---
%h1
  小説一覧
- sitemap.where(:doctype.equal => "novel").all.each do |item|
  - tagArray = ['topic']
  - if item.data.tags.include? '性的表現' then
    - tagArray << 'bg_pink'
  .section
    %h2
      = link_to item.data.title, item.url
    %div{:class => tagArray.join(' ')}
      %p
        = partial 'taglist', :locals => {:tagArray => item.data.tags, :linkPage => '/novels/indexbytag.html'}
.section
  %h2
    タグ一覧
  :ruby
    tagArray = sitemap.where(:doctype.equal => "novel").all.map do |item|
      item.data.tags
    end
    tagArray.flatten!.uniq!
  .topic
    %p
      -tagArray.each do |tag|
        = link_to tag, "indexbytag.html\##{tag}"
