---
title: Primates selection Novels
current: novel
---
.section
  %h1
    小説一覧
  - sitemap.where(:doctype.equal => "novel").all.each do |item|
    .topic
      %p
        = link_to item.data.title, item.url
      %p
        タグ：
        - item.data.tags.each_with_index do|tag, index|
          -if index != 0 then
            ,
          = tag
  %h2
    タグ一覧
  :ruby
    tagArray = sitemap.where(:doctype.equal => "novel").all.map do |item|
      item.data.tags
    end
    tagArray.flatten.uniq!
  .topic
    %p
      = tagArray.join(' ')
