---
title: Primates selection games
current: game
---
%h1
  Primates selection ～サイドヘイムの戦い～
%p.align_center
  = image_tag 'c91_cut.png'
.section
  %h2 作品情報
  .topic
    %p
      発表予定：2016年冬
      %br
      対応環境：Windows PC
      %br
      ジャンル：横スクロールアクションシューティング
    %p
      世紀末ネコミミガンアクション、プライメイツセレクションの短編シナリオです。
      %br
      軍用バイオネコミミ・ジルを操作して、サイドヘイム駅前発掘キャンプを襲撃した賊を排除せよ！
