---
title: Primates selection について
current: about
---
%h1
  Primates selection について

.section
  %h2
    ゲーム Primates selection
  .topic
    %p
      Primates selection は、同人サークルVestals Quintet 製作の同人ゲームです。
      Primates selection 世界観を基に、2Dアクションゲームとして第一作をリリース予定です。

.section
  %h2
    Primates selection novels
  .topic
    %p
      Primates selection novels はSyuji著の小説と、同じ世界観を基に複数の著者に書かれた一連の小説群です。
      %br
      当サイトのリポジトリにプルリクエストして頂く事により、自作のPrimates selection 小説を投稿する事ができます。
      %br
      投稿した小説には、Githubのライセンス規定が適用されます。
      ライセンス表示がある場合にはその通りに、ライセンス表示が無い場合は
      = link_to 'No License', 'http://choosealicense.com/no-license/'
      となります。
    .topic
      %p
        Github リポジトリ
        %br
        = link_to 'https://github.com/felinebabies/felinebabies.github.io/tree/source' do
          https://github.com/felinebabies/felinebabies.github.io/tree/source
