---
title: Primates selection 資料サイト
current: top
---
%h1
  Primates selection
%p
  同人ゲーム及び小説「プライメイツ・セレクション」関連資料サイト

.section
  %h2
    Updates
  .topic
    %dl
      %dt
        2015/03/04
      %dd
        サイトテンプレート構築作業中。

  %h2
    License
  .topic
    %h3
      Games
    %p
      Copyright &copy; 2015 Vestalis Quintet

    %h3
      Novels
    %p
      All novels of this repository by Syuji is provided under a Creative Commons license 4.0.
      %br
      %a{:href => "http://creativecommons.org/licenses/by-sa/4.0/", :rel => "license"}><
        %img{:alt => "クリエイティブ・コモンズ・ライセンス", :src => "https://i.creativecommons.org/l/by-sa/4.0/88x31.png", :style => "border-width:0"}/
      %br/
      %span{:property => "cc:attributionName", "xmlns:cc" => "http://creativecommons.org/ns#"} Syujiを著作者とするこのリポジトリ内の
      %span{:href => "http://purl.org/dc/dcmitype/Text", :rel => "dct:type", "xmlns:dct" => "http://purl.org/dc/terms/"} 小説は
      = succeed "\u{3067}\u{63d0}\u{4f9b}\u{3055}\u{308c}\u{3066}\u{3044}\u{307e}\u{3059}\u{3002}" do
        %a{:href => "http://creativecommons.org/licenses/by-sa/4.0/", :rel => "license"} クリエイティブ・コモンズの 表示 - 継承 4.0 国際 ライセンス

  %h2
    Github repository
  .topic
    %p
      = link_to 'https://github.com/felinebabies/felinebabies.github.io/tree/source' do
        https://github.com/felinebabies/felinebabies.github.io/tree/source
